@font-face {
     font-family: IRANSansWeb;
     src: font(IRANSansWeb);
     font-weight: normal;
   }
   
   @font-face {
     font-family: IRANSansWeb;
     src: font(IRANSansWeb, '-Bold');
     font-weight: bold;
   }
   
   @font-face {
     font-family: IRANSansWeb;
     src: font(IRANSansWeb, '-Light');
     font-weight: 300;
   }
   
   @font-face {
     font-family: Shabnam;
     src: font(Shabnam);
     font-weight: normal;
   }
   
   @font-face {
     font-family: Shabnam;
     src: font(Shabnam, '-Bold');
     font-weight: bold;
   }
   
   @font-face {
     font-family: Shabnam;
     src: font(Shabnam, '-Light');
     font-weight: 300;
   }
